---
---
@import "{{ site.theme }}";

/* --- Här ändrar du länkfärgen --- */
a {
  color: ##E03151; /* Ersätt med din HEX-kod */
}

a:hover, a:focus {
  color: #a02139; /* Ersätt med din HEX-kod, gärna en mörkare nyans */
}
