---
---
@import "{{ site.theme }}";

/* --- Här ändrar du länkfärgen --- */
a {
  color: #D3306B; /* Ersätt med din HEX-kod */
}

a:hover, a:focus {
  color: #911f49; /* Ersätt med din HEX-kod, gärna en mörkare nyans */
}
