---
---
@import "{{ site.theme }}";

/* --- Här ändrar du länkfärgen --- */
a {
  color: #CC0000; /* Ersätt med din HEX-kod */
}

a:hover, a:focus {
  color: #910000; /* Ersätt med din HEX-kod, gärna en mörkare nyans */
}
